<div class="d-flex justify-content-end align-items-center">
    <a class="btn btn-outline-light m-5 " [routerLink]="['/products/edit/0']">
        <i class="bi bi-plus-circle text-primary fs-3 mx-5 p-5" ></i>
    </a>
</div>
<div class="container m-5">
    <table class="table table-info">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allProducts">
                <th scope="row">{{ item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{ item.price | currency}}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    <div class="d-flex justify-content-evenly">

                        <i class="bi bi-eye-fill text-success" routerLink="/products/{{ item.id }}"></i>
                        <i class="bi bi-pencil-square fs-4 " routerLink="/products/edit/{{ item.id }}" ></i>
                        <i class="bi bi-trash3 text-danger fs-4" (click)="remove(item.id)"></i>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>

</div>